django==4.0.5
httpx==0.24.1
requests==2.31.0
scholarly==1.7.11
python-decouple==3.6
django-extensions==3.2.3
requests==2.31.0
beautifulsoup4==4.11.1
Pillow==9.3.0
psycopg2==2.9.9
PyMuPDF==1.22.3
openai==1.2.3
